*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    width: 250px;
    max-height: 1400px;

}

body{
    padding-left: 3%;
    padding-right: 3%;
}
.carousel-inner{
    width: 100%;
    margin: 0 auto;
}

form{
    width: 50%;
    margin: 0 auto;
    
}
.btn{
    
}